@import 'libs/bootstrap-reboot.min';

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700;800;900&display=swap');


@import 'base/variables';

* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255) ;
}
.body{
    height: 100%;

}
.container {
    margin: 0 auto;
    height: auto;
    width: 1360px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: $frameСolor;
    flex: 0 0 auto;
}


@import 'blocks/menu';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/post';
@import 'blocks/header';
@import 'blocks/search';



@import 'modal/modal';


@import 'pages/index';
@import 'pages/home';
@import 'pages/account';
@import 'pages/explore';
@import 'pages/setting';
@import 'pages/trips';