
.ribbon {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &__buttons{
        margin-top: 80px;
        display: flex;
        position: relative;
        justify-content: center;
        background: none;
    }
   

}

