.trips {
    margin: 0 auto;
    &__buttons{
        margin-top: 30px;
        grid-template-columns: 325px 325px;
        justify-content: center;
        grid-gap: 65px;
        display: grid;
        background: none;
    }   
    &__select{
        margin-top: 56px;
    }
}
