.button{
    width: 325px;
    height: 50px;
    border-radius: 50px;
    background-color: $primaryColor;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border:none;
    text-transform: uppercase;
    cursor: pointer;
    &__main {
        margin-top: 15px;
        width: 325px;
        height: 50px;
        font-size: 18px;
        font-weight:800;
        text-decoration: none;
    }
    &__submit {
        width: 100%;
        height: 55px;
        color:#ffffff;
        font-size: 16px;
        text-decoration: none;
    }
    &__mini{
        width: 200px;
        height: 35px;
        background-repeat: 5px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
    }
    
    

}



