.sidebar__menu {
    position: fixed;
    background: none;
    top: 180px;
    left: 100px;
    width: 109px;
    height: 500px;
    display: flex;
    justify-content: center;
   
    
  }
  
  .sidebar__menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .sidebar__menu li {
    margin-bottom: 5px;
  }
  
  .sidebar__menu  a {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 5px;
    text-transform:uppercase;
    font-size: 10px;
    color: $textColor;
  }
  
  .sidebar_menu img {
    width: 25px;
    height: 25px;
  }



 