.searchMap{
    &__form {
        padding: 50px;
        // position: relative; top: 50%; left: 50%;
        // -webkit-transform: translate(-50%, -50%);
        // -ms-transform: translate(-50%, -50%);
        // transform: translate(-50%, -50%);
  
        width: 400px;
        height: 38px;
        top: 50px;
        border: 1px solid $frameСolor;
        padding: 10px;
        border-radius: 15px; 
        background: transparent;
      }
      &__wrapper {
        display: grid;
        grid-template-columns:20px  310px 50px 140px;
        grid-template-rows: 15px;
        grid-gap: 10px;
        align-items: center;
      }
      &__input {
        width: 400px;
        height: 38px;
        outline: 0;
        outline-offset: 0;
        background: transparent;  
        border: none;      
      }
      &__icon {
        display: block;
        align-items: center;
        width: 16px;
      }
      &__avatar {
        display: block;
        align-items: center;
        width: 30px;
      }
       
}
    
