.title {
    color: $textColor;
    font-size: 30px;
    font-weight: 700;
    text-align: right;
    &__fs12{
        font-size: 12px;
        font-weight:400;
    }
    &__fs14 {
        font-size: 14px;
        font-weight:400;
        
    }
    &__fs16 {
        font-size: 18px;
        font-weight: 500;
    }
    &__fs18regular {
        font-size: 18px;
        font-weight:400;
    }
    &__fs18medium{
        font-size: 18px;
        font-weight:600;
    }
    &__fs18exbold {
        font-size: 18px;
        font-weight:800;
    }
    &__fs20bold {
        font-size: 18px;
        font-weight:800;
    }
    &__fs32exbold{
        font-size: 18px;
        font-weight:800;
    }
}

.titleIndexColor {
    color:rgba(155, 81, 224, 1);
}